// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/**
#app .btn {
    --bs-btn-color: #B37414;
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    --bs-btn-border-width: 0;
}

 */

.loading {
    opacity: 0.3;
}

.error {
    display: none;
}
